fastapi
uvicorn[standard]
python-dotenv
pydantic
aiofiles
httpx
python-multipart

# persistence & auth
SQLAlchemy>=2.0.35
alembic
passlib[bcrypt]
python-jose
psycopg2-binary  # if using PostgreSQL/Railway
stripe
mercadopago
pandas
bcrypt==4.0.1